@import './animations.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* input[type="search"] {
  border: 1px solid gray;
  padding: .2em .4em;
  border-radius: .2em;
}

input[type="search"].dark {
  background: #222;
  color: #fff;
}

input[type="search"].light {
  background: #fff;
  color: #222;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
} */

/* input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(64%) sepia(13%) saturate(0%) hue-rotate(184deg) brightness(92%)
    contrast(95%);
}

::-webkit-calendar-picker-indicator:hover {
  background: var(--quinaryColor);
  cursor: pointer;
  filter: invert(60%) sepia(10%) saturate(0%) hue-rotate(184deg) brightness(90%)
    contrast(90%) !important;
}

::-webkit-datetime-edit {
  padding: 0.1em;
}
::-webkit-datetime-edit-fields-wrapper {
  background: var(--quinaryColor);
}
::-webkit-datetime-edit-text {
  padding: 0.1em;
}
::-webkit-datetime-edit-month-field {
  color: var(--secondaryColor);
}
::-webkit-datetime-edit-day-field {
  color: var(--secondaryColor);
}
::-webkit-datetime-edit-year-field {
  color: var(--secondaryColor);
} */

::-webkit-scrollbar {
  display: block;
  height: 0.25rem;
  width: 0.25rem;
  background-color: transparent;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  transition: 200ms linear;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  background: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 6px;
}
